$tealColor: rgb(100, 148, 105);
$whiteColor: #fff;
$hoverColor: #000000;
// ! mix in
@mixin buttonStyles {
    cursor: pointer;
    display: block;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: $tealColor;
    color: $whiteColor;
    margin-top: 20px;
    transition: all 0.2s;
    font-size: 18px;
    // ! & = елемент к которому обращаемся
    &:hover {
        background-color: $hoverColor;
        color: $whiteColor;
    }
}